:root, [data-theme="ligth"] {
  --principal-background: rgb(228, 228, 228);
  --principal-color: rgb(27, 27, 27);
  --principal-bt-color: rgb(81, 60, 97);
  --bt-background: rgb(120, 219, 107);
  --bt-bg-hover: rgb(173, 209, 168);
}
[data-theme="dark"] {
  --principal-background: rgb(38, 38, 38);
  --principal-color: rgb(220, 220, 220);
  --principal-bt-color: rgb(164, 211, 158);
  --bt-background: rgb(118, 99, 131);
  --bt-bg-hover: rgb(104, 62, 134);
}
.bt-theme-container {
  width: 50px;
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  cursor: pointer;
  color: var(--principal-bt-color);
}
.bt-theme-container:hover {
  background-color: var(--bt-bg-hover);
}
