* {padding: 0; margin: 0; font-family: 'Roboto', sans-serif; font-weight: 300;}
input:focus {
  outline: none;
}
html, body, #root {
  height: 100%;
  background-color: var(--principal-background);
  color: var(--principal-color);
  font-size: large;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 98%;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}
.description{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  text-align: center;
}